@inherits LayoutComponentBase
@using DineEasy.BlazorServer.Services
@inject IJSRuntime JSRuntime
@inject AuthStateService AuthStateService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet">
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthStateService.InitializeAsync();
            StateHasChanged(); // Teraz wywołaj ręcznie
        }
    }
}
